<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Im Fat</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../assets/js/app.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>