<div class="wholeThing">
    <div class="topPart">
        <h1>Devour the burger</h1>
    </div>
    <div class="bottomPart">
        <div class="leftSide">
            <h3>Push button to devour</h3>
            {{#each burger}}
            <button>{{burger_name}}</button>
            {{/each}}
        </div>
        <div class="center">
            <form class="burgerForm">
                <label for="newBurger">Add a burger</label><br>
                <input type="text" id="newBurger" placeholder="Cheese Burger" name="burger"><br>
                <input class="newBurger" type="submit">
            </form>
            </form>
        </div>
        <div class="rightSide">

        </div>
    </div>
</div>